*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{  
    padding: 150px; 
    background-color:rgb(9, 10, 78); 
    color: aqua; 
}

.header{
    position:relative ;
    top:0;
    left:0;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    width: 100%;
    background: transparent;
    display: flex;
}

.logo{
    font-size: large;
    color: beige;
    font-weight: 600;
    cursor: pointer;
    animation: slideRight 1s ease-in
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.navbar a
{
    text-decoration:none;
    font-size: 20px;
    color: #dbefd0;
    transition:.3s;
    font-weight:500;
    transition:.3s
}

.navbar a:link{
    color: aliceblue;
}
.navbar a:hover{
    color: darkkhaki;
}
.navbar a:visited
{
    color: darkmagenta;
}
.navbar a:active{
    color: crimson;
}
.home{
    position: relative;
    width: 100%;
    height: 100%;
    align-content:space-between;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 400px;
}
.home-content h2{
    max-width: width 600px;
    color: cornsilk;
    font-size: 40px;
    font-weight: 700;
}
.home-content h1{
    font-size: 70px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
}
.home-content p{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-size:small ;
}
.home_png{
    max-width: 450px;
}


